/* Estilos del footer */
.pie-de-pagina {
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content:center;
    align-items: center;

}

.pie-de-pagina p {
    font-size: 1.3rem;
    font-weight: bolder;
    text-align: center;

 }